.shopframe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-auto-rows: auto;
  gap: 2rem;
  padding: 2rem;
  background-image:radial-gradient(antiquewhite, aliceblue,#f8bff3);
  height: 100vh;
}