.cartButton {

  color: midnightblue;
  background-color: antiquewhite;
  border-radius: 15px;
  font-size: 1.8rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  grid-column: 1 / 4;
  font-family: 'schoolbellregular'
}

.cartButton:active {
  border: 2px solid antiquewhite;
  background-color: midnightblue;
  color: antiquewhite;   
}