.itemframe {
  display: grid;
  grid-template-columns: 1fr 50px 100px 50px 100px;
  justify-items: center;
  align-items: center;
  font-size: 1.4rem;
  border-top: 2px solid midnightblue;
  border-bottom: 2px solid midnightblue;
  border-radius: 15%;
  margin: 5px;
}