@font-face {
  font-family: 'schoolbellregular';
  src: url('./assets/schoolbell-regular-webfont.woff2') format('woff2'),
    url('./assets/schoolbell-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

:root {
  font-family: 'schoolbellregular'
}